@model List<_01_LampshadeQuery.Contracts.Coin.CoinQueryModels>

<section id="roadmap" class="af a2E aw[120px] is-rtl">
    <div class=" dark:aT">
        <h1 class="xl:text-2xl md:text-xl font-bold " style="margin-right:50px;">مقایسه قیمت صرافی های ایرانی : </h1>
        <div class="flex md:hidden justify-between p-12 items-center ">
            <div class="flex py-4 items-center" style="margin-left:20px;">
                <div style="width:40px;height:40px;">
                    <img style="width:40px;height:40px;" src="https://tokenbaz.com/images/coins/small-size/tether.png" alt="">
                </div>
                <div class="flex-col mr-4">
                    <h2 class="xl:text-2xl ">Tether</h2>
                    <p class="xl:text-xl ">USDT</p>
                </div>
            </div>
            <div class="flex ml-8">
                <a href="/Coins" class="xl:text-2xl border-b-4">
                    <h1 class="xl:text-2xl font-bold">لیست قیمت ارزهای دیجیتال </h1>
                </a>
                <div class="" style="width:30px;height:30px;">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="hidden md:flex justify-between p-12 items-center ">
            <div class="flex px-16 py-4 items-center">
                <div style="width:80px;height:80px;">
                    <img style="width:80px;height:80px;" src="https://tokenbaz.com/images/coins/small-size/tether.png" alt="">
                </div>
                <div class="flex-col mr-4" style="margin-right:8px;">
                    <h2 class="xl:text-2xl font-bold ">Tether</h2>
                    <p class="xl:text-xl font-bold text-green-400"> USDT</p>
                </div>
            </div>
            <div class="flex ml-8">
                <a href="/Coins" class="xl:text-2xl border-b-4">
                    <h1 class="xl:text-2xl font-bold">لیست قیمت ارزهای دیجیتال </h1>
                </a>
                <div class="mr-2 xl:w-10 xl:h-10" style="margin-right:8px;">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                    </svg>
                </div>
            </div>
        </div>
        <!--/////////-->
        <div class="flex lg:hidden justify-between items-center p-2  font-bold border-b-2 border-gray-400 bg-blue-600 text-white text-xs md:text-lg">
            <h3 class="">
                صرافی
            </h3>
            <h3 class="">
                قیمت خرید شما
            </h3>
            <h3 class="">
                مقدار خرید
            </h3>
            <h3 class="">
                قیمت فروش شما
            </h3>
            <h3 class="w-16 md:w-28"></h3>
        </div>
        <div class="hidden lg:flex justify-between items-center p-4 border-b-2 border-gray-400 mx-8 font-bold bg-blue-600 text-white lg:text-md xl:text-lg">
            <h3 class="lg:mr-8">
                صرافی
            </h3>
            <h3 class="lg:mr-8 xl:mr-16">	قیمت خرید تتر از شما</h3>
            <h3 class="">
                مقدار خرید
            </h3>
            <h3 class="">قیمت فروش تتر به شما</h3>
            <h3 class="lg:ml-16 xl:ml-20">مقدار فروش</h3>
            <h3 class="lg:ml-12">کارمزد</h3>
            <h3 class="lg:w-40 xl:w-48"></h3>
            <h3 class="lg:w-36 xl:w-44"></h3>
        </div>

        @foreach (var item in Model)
        {
            <!--Mobile-->
            <div class="flex lg:hidden justify-between items-center p-2 font-bold border-b-2 border-slate-500 text-xs md:text-lg">
                <div class="flex-row justify-center w-10">
                    <img class="w-10 bg-gray-100" src="@item.Image" alt="">
                    <h3 class=" mt-1">@item.Name</h3>
                    @if (item.MarketType == 1)
                    {
                        <p class="text-center  text-green-400">بازار</p>
                    }
                    else
                    {
                        <p class="text-center  text-green-400">فروشگاه</p>
                    }
                </div>
                <div>
                    <h3 class="">
                        @item.PurchasePrice تومان
                    </h3>
                </div>
                <div>
                    <h3 class="">
                        @if (item.PurchaseVolume == 0 || item.PurchaseVolume == null)
                        {
                            <h3>0.0</h3>
                        }
                        else
                        {
                            <h3>@item.PurchaseVolume</h3>
                        }
                    </h3>
                </div>
                <div>
                    <h3 class="">@item.SalesPrice</h3>
                </div>
                <div class="flex flex-col">
                    <a href="@item.Url"><button class="bg-blue-500 text-white p-1  rounded-md ">خرید فروش </button></a>
                    <button class="bg-yellow-300 text-slate-950 mt-2 p-1 rounded-md ">برسی صرافی</button>
                </div>
            </div>
            <!--Desktop-->
            <div class="hidden  justify-between items-center p-8 lg:flex border-b-2 border-slate-500 mx-8 font-bold lg:text-md xl:text-lg">
                <div class="block">
                    <div class="w-12 flex">
                        <img class="w-10 bg-gray-100" src="@item.Image" alt="">
                        <div class="flex-row px-2">
                            <h3 class="">@item.Name</h3>
                            @if (item.MarketType == 1)
                            {
                                <p class="text-center  text-green-400">بازار</p>
                            }
                            else
                            {
                                <p class="text-center  text-green-400">فروشگاه</p>
                            }
                        </div>
                    </div>
                </div>
                <div>
                    <h3 class="mr-10">
                        @item.PurchasePrice تومان
                    </h3>
                </div>
                <div>
                    @if (item.PurchaseVolume == 0 || item.PurchaseVolume == null)
                    {
                        <h3>0.0</h3>
                    }
                    else
                    {
                        <h3>@item.PurchaseVolume</h3>
                    }
                </div>
                <div>
                    <h3>@item.SalesPrice تومان</h3>
                </div>
                <div>
                    @if (item.SalesVolume == 0 || item.SalesVolume == null)
                    {
                        <h3>0.0</h3>
                    }
                    else
                    {
                        <h3>@item.SalesVolume</h3>
                    }
                </div>
                <div style="text-align:center;">
                    <h4 style="width:160px;font-size:14px;">@item.TransactionFee</h4>
                </div>
                <a href="@item.Url"><button class="bg-blue-500 text-white py-2 px-4 rounded-lg"> خرید / فروش </button></a>
                <button class="bg-yellow-300 text-slate-950 py-2 px-4 rounded-lg">برسی صرافی</button>
            </div>

        }
    </div>
</section>